infra/logicapps/la-auth-profile.def.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "type": "Object",
      "defaultValue": {}
    }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "method": "POST",
        "schema": {
          "type": "object",
          "properties": {
            "email": {
              "type": "string"
            },
            "newName": {
              "type": "string"
            },
            "newRole": {
              "type": "string"
            }
          },
          "required": [
            "email"
          ]
        }
      }
    }
  },
  "actions": {
    "Get_user": {
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['documentdb']['connectionId']"
          }
        },
        "method": "get",
        "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('threatvault')}/colls/@{encodeURIComponent('users')}/docs/@{encodeURIComponent(toLower(json(triggerBody())?['email']))}",
        "headers": {
          "x-ms-documentdb-partitionkey": "@{toLower(json(triggerBody())?['email'])}"
        }
      }
    },
    "Compose_updated": {
      "type": "Compose",
      "runAfter": {
        "Get_user": [
          "Succeeded"
        ]
      },
      "inputs": "@union(body('Get_user'), json(concat('{\"name\":\"', coalesce(json(triggerBody())?['newName'], body('Get_user')?['name']), '\",\"role\":\"', coalesce(json(triggerBody())?['newRole'], body('Get_user')?['role'], 'Analyst'), '\",\"updatedAt\":\"', utcNow(), '\"}')))"
    },
    "Replace_user": {
      "type": "ApiConnection",
      "runAfter": {
        "Compose_updated": [
          "Succeeded"
        ]
      },
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['documentdb']['connectionId']"
          }
        },
        "method": "put",
        "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('threatvault')}/colls/@{encodeURIComponent('users')}/docs/@{encodeURIComponent(toLower(json(triggerBody())?['email']))}",
        "headers": {
          "x-ms-documentdb-partitionkey": "@{toLower(json(triggerBody())?['email'])}"
        },
        "body": "@outputs('Compose_updated')"
      }
    },
    "Audit_profile": {
      "type": "ApiConnection",
      "runAfter": {
        "Replace_user": [
          "Succeeded"
        ]
      },
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['documentdb']['connectionId']"
          }
        },
        "method": "post",
        "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('threatvault')}/colls/@{encodeURIComponent('audit')}/docs",
        "headers": {
          "x-ms-documentdb-raw-partitionkey": "[\"@{toLower(json(triggerBody())?['email'])}\"]"
        },
        "body": {
          "id": "@{guid()}",
          "action": "PROFILE_UPDATE",
          "user": "@{toLower(json(triggerBody())?['email'])}",
          "res": "auth-service",
          "ip": "\u2014",
          "ts": "@utcNow()"
        }
      }
    },
    "Response_ok": {
      "type": "Response",
      "kind": "Http",
      "runAfter": {
        "Audit_profile": [
          "Succeeded",
          "Failed"
        ]
      },
      "inputs": {
        "statusCode": 200,
        "headers": {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        },
        "body": {
          "ok": true,
          "user": {
            "userId": "@{outputs('Compose_updated')?['email']}",
            "email": "@{outputs('Compose_updated')?['email']}",
            "name": "@{outputs('Compose_updated')?['name']}",
            "role": "@{outputs('Compose_updated')?['role']}"
          }
        }
      }
    },
    "Response_no_user": {
      "type": "Response",
      "kind": "Http",
      "runAfter": {
        "Get_user": [
          "Failed"
        ]
      },
      "inputs": {
        "statusCode": 200,
        "headers": {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        },
        "body": {
          "ok": false,
          "error": "User not found"
        }
      }
    }
  },
  "outputs": {}
}
