infra/logicapps/la-cases-update.def.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": { "$connections": { "type": "Object", "defaultValue": {} } },
  "triggers": {
    "manual": {
      "type": "Request", "kind": "Http",
      "inputs": {
        "method": "POST",
        "schema": {
          "type": "object",
          "properties": {
            "id":     { "type": "string" },
            "status": { "type": "string" }
          },
          "required": ["id"]
        }
      }
    }
  },
  "actions": {
    "Get_case": {
      "type": "ApiConnection",
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['documentdb']['connectionId']" } },
        "method": "get",
        "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('threatvault')}/colls/@{encodeURIComponent('cases')}/docs/@{encodeURIComponent(json(triggerBody())?['id'])}",
        "headers": { "x-ms-documentdb-raw-partitionkey": "[\"@{json(triggerBody())?['id']}\"]" }
      }
    },
    "Compose_updated": {
      "type": "Compose",
      "runAfter": { "Get_case": [ "Succeeded" ] },
      "inputs": "@union(body('Get_case'), json(concat('{\"status\":\"', coalesce(json(triggerBody())?['status'], body('Get_case')?['status']), '\",\"updated\":\"', utcNow(), '\"}')))"
    },
    "Replace_case": {
      "type": "ApiConnection",
      "runAfter": { "Compose_updated": [ "Succeeded" ] },
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['documentdb']['connectionId']" } },
        "method": "put",
        "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('threatvault')}/colls/@{encodeURIComponent('cases')}/docs/@{encodeURIComponent(json(triggerBody())?['id'])}",
        "headers": { "x-ms-documentdb-raw-partitionkey": "[\"@{json(triggerBody())?['id']}\"]" },
        "body": "@outputs('Compose_updated')"
      }
    },
    "Audit": {
      "type": "ApiConnection",
      "runAfter": { "Replace_case": [ "Succeeded" ] },
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['documentdb']['connectionId']" } },
        "method": "post",
        "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('threatvault')}/colls/@{encodeURIComponent('audit')}/docs",
        "headers": { "x-ms-documentdb-raw-partitionkey": "[\"@{coalesce(json(triggerBody())?['user'], 'analyst@threatvault.com')}\"]" },
        "body": {
          "id":     "@{guid()}",
          "action": "UPDATE",
          "user":   "@{coalesce(json(triggerBody())?['user'], 'analyst@threatvault.com')}",
          "res":    "@json(triggerBody())?['id']",
          "ip":     "—",
          "ts":     "@utcNow()"
        }
      }
    },
    "Response": {
      "type": "Response", "kind": "Http",
      "runAfter": { "Audit": [ "Succeeded", "Failed" ] },
      "inputs": {
        "statusCode": 200,
        "headers": { "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" },
        "body": { "case": "@outputs('Compose_updated')" }
      }
    }
  },
  "outputs": {}
}
