infra/logicapps/la-evidence-update.def.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "method": "POST",
        "schema": {
          "type": "object",
          "properties": {
            "id":     { "type": "string" },
            "caseID": { "type": "string" },
            "title":  { "type": "string" }
          },
          "required": ["id","caseID"]
        }
      }
    }
  },
  "actions": {
    "Get_doc": {
      "type": "ApiConnection",
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['documentdb']['connectionId']" } },
        "method": "get",
        "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('threatvault')}/colls/@{encodeURIComponent('evidence')}/docs/@{encodeURIComponent(json(triggerBody())?['id'])}",
        "headers": {
          "x-ms-documentdb-raw-partitionkey": "[\"@{json(triggerBody())?['caseID']}\"]"
        }
      }
    },
    "Compose_updated": {
      "type": "Compose",
      "runAfter": { "Get_doc": [ "Succeeded" ] },
      "inputs": "@union(body('Get_doc'), json(concat('{\"title\":\"', coalesce(json(triggerBody())?['title'], body('Get_doc')?['title']), '\",\"updatedAt\":\"', utcNow(), '\"}')))"
    },
    "Replace_doc": {
      "type": "ApiConnection",
      "runAfter": { "Compose_updated": [ "Succeeded" ] },
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['documentdb']['connectionId']" } },
        "method": "put",
        "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('threatvault')}/colls/@{encodeURIComponent('evidence')}/docs/@{encodeURIComponent(json(triggerBody())?['id'])}",
        "headers": {
          "x-ms-documentdb-raw-partitionkey": "[\"@{json(triggerBody())?['caseID']}\"]"
        },
        "body": "@outputs('Compose_updated')"
      }
    },
    "Audit_update": {
      "type": "ApiConnection",
      "runAfter": { "Replace_doc": [ "Succeeded" ] },
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['documentdb']['connectionId']" } },
        "method": "post",
        "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('threatvault')}/colls/@{encodeURIComponent('audit')}/docs",
        "headers": {
          "x-ms-documentdb-raw-partitionkey": "[\"@{coalesce(json(triggerBody())?['user'], 'analyst@threatvault.com')}\"]"
        },
        "body": {
          "id":     "@{guid()}",
          "action": "UPDATE",
          "user":   "@{coalesce(json(triggerBody())?['user'], 'analyst@threatvault.com')}",
          "res":    "@json(triggerBody())?['id']",
          "ip":     "—",
          "ts":     "@utcNow()"
        }
      }
    },
    "Response": {
      "type": "Response",
      "kind": "Http",
      "runAfter": { "Audit_update": [ "Succeeded", "Failed" ] },
      "inputs": {
        "statusCode": 200,
        "headers": {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        },
        "body": { "evidence": "@outputs('Compose_updated')" }
      }
    }
  },
  "outputs": {}
}
